
Interface/Updates \(Version tracking through Github\)/interface_mapMenuTest/settings\.json
Interface/Updates \(Version tracking through Github\)/interface_mapMenuTest/application.linux-arm64/
Interface/Updates \(Version tracking through Github\)/interface_mapMenuTest/application.linux-armv6hf
Interface/Updates \(Version tracking through Github\)/interface_mapMenuTest/application.linux32/
Interface/Updates \(Version tracking through Github\)/interface_mapMenuTest/application.linux64/
